@using System.Globalization

<BitTextField Class="w-100" Prefix="@Prefix" Trim Value="@_valueString" ValueChanged="@ParseAndSetDateTime"></BitTextField>
@if (_errorMessage != null)
{
    <span class="text-danger">@_errorMessage</span>
}

@code {
    [Parameter]
    public string Prefix { get; set; }

    [Parameter]
    public DateTimeOffset? Value
    {
        get => _value;
        set
        {
            _value = value;
            if (value.HasValue)
            {
                _valueString = value.Value.ToString(DateTimeFormat);
            }
        }
    }
    private DateTimeOffset? _value;

    [Parameter]
    public EventCallback<DateTimeOffset?> ValueChanged { get; set; }

    private string? _valueString;
    private string? _errorMessage;
    
    /// <summary>
    /// Парсит и устанавливает в поле введенную дату или отображает ошибку 
    /// </summary>
    /// <param name="value"></param>
    private async Task ParseAndSetDateTime(string? value)
    {
        if (!DateTimeOffset.TryParseExact(value, DateTimeFormat, CultureInfo.CurrentCulture, DateTimeStyles.AssumeLocal, out var result))
        {
            _errorMessage = "Некорректная дата!";
            return;
        }

        Value = result;
        _errorMessage = null;
        await ValueChanged.InvokeAsync(result);
    }

    private static readonly string DateTimeFormat = "yyyy'-'MM'-'dd'T'HH':'mm':'ssK";
}