<!DOCTYPE html>
<html lang="ru" bit-theme-default="dark">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="ru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hangfire / Discovery</title>
    <base href="/"/>
    <link rel="stylesheet" href="_content/Hangfire.Dashboard.Blazor/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="_content/Hangfire.Dashboard.Blazor/app.css"/>
    <link rel="stylesheet" href="_content/Hangfire.Dashboard.Blazor/Hangfire.Dashboard.Blazor.bundle.scp.css"/>
    <link rel="stylesheet" href="_content/Hangfire.Dashboard.Blazor/Hangfire.Dashboard.Blazor.styles.css"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <HeadOutlet @rendermode="_interactiveServerNoPrerenderMode"/>
</head>

<body>
<Routes @rendermode="_interactiveServerNoPrerenderMode"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/Hangfire.Dashboard.Blazor/utils.js"></script>
<script src="_content/BlazorMonaco/jsInterop.js"></script>
<script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
<script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
</body>

</html>

@code {
    private readonly IComponentRenderMode _interactiveServerNoPrerenderMode = new InteractiveServerRenderMode(prerender: false);
}