@page "/hangfire/discovery/playground"
@using System.ComponentModel

<BitStack>
    <TokenSequenceValidator/>

    <BitCard>
        <TimeRangePicker></TimeRangePicker>
    </BitCard>

    <QueryInput/>

    <Dropdown
        Items="@_items"
        @bind-SelectedItem="@_selectedItem"/>
    
    <Button OnClick=@(() => Console.WriteLine("a"))>Run</Button>
</BitStack>

@code
{
    private IEnumerable<ListSortDirection> _items = Enum.GetValues<ListSortDirection>();
    private ListSortDirection _selectedItem;
}
